<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='utf-8'>
  <title>Deven Rathod -Free Movie Server</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
 <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>

<div class="c2">
         <marquee><p>영화 정보를 확인하세요</p></marquee>
</div>
<body>
<header>
  <div class="nav">
  <hr/>
<nav>

  <ul>
  <li><a href="index">Home</a></li>
   </ul>

</nav>
<hr/>
</div>
  <h1 class="headh1">영화 정보를 확인 하시려면 이미지를 클릭하세요</h1>
  
  </header>


<!-- movie upload code  -->
<div class="cards">
  <a href="/movie_details/20133165">
  <div class="column nature">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20133165.jpg')}}" alt="Mountains" style="width:100%">
      <h4>Evil Dead (2013)</h4>
    </div>
  </div>
  <a href="/movie_details/20161081">
  <div class="column nature">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20161081.jpg')}}" alt="Lights" style="width:100%">
      <h4>Annabelle Creation (2017)</h4>
    </div>
  </div>
  <a href="/movie_details/20178126">
  <div class="column nature">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20178126.jpg')}}" alt="Nature" style="width:100%">
      <h4>Insidious The Last Key (2018)</h4>
    </div>
  </div>
<a href="/movie_details/20162941">
  <div class="column cars">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20162941.jpg')}}" alt="Car" style="width:100%">
      <h4>The Conjuring 2 2016</h4>
    </div>
  </div>
  <a href="/movie_details/20152781">
  <div class="column cars">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20152781.jpg')}}"alt="Car" style="width:100%">
      <h4>Dawn of Justice</h4>
    </div>
  </div>
  <a href="/movie_details/20217845">
  <div class="column cars">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20217845.jpg')}}" alt="Car" style="width:100%">
      <h4>Suicide Squad</h4>
    </div>
  </div>
 <a href="/movie_details/20143253">
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20143253.jpg')}}" alt="People" style="width:100%" download>
      <h4>John Wick Chapter 1</h4>
    </div>
    <a href="/movie_details/20166101">
  </div>
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20166101.jpg')}}" alt="People" style="width:100%">
      <h4>John Wick Chapter 2</h4>
    </div>
  </div>
  <a href="/movie_details/20196655">
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20196655.jpg')}}" alt="People" style="width:100%">
      <h4>John Wick Chapter 3</h4>
    </div>
  </div>
  <a href="/movie_details/20136961">
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20136961.jpg')}}" alt="People" style="width:100%">
      <h4>Pacific Rim 2013</h4>
    </div>
  </div>
  <a href="/movie_details/20174603">
  <div class="column people">
    <div class="content">
      <img src="{{url_for('static', filename='img/assets/20174603.jpg')}}" alt="People" style="width:100%">
      <h4>Pacific Rim Uprising 2017</h4>
    </div>
  </div>

<!-- END GRID -->
</div>


  <!-- <footer>
    <div>
   Created by DevelopeSpot 
    </div>
  </footer> -->
</body>
</html>